<% provide(:title, 'About Us') %>
<h1>About this task</h1>

<div>
<p>Создать веб-приложение, которое позволяет хранить базу аудиозаписей и их альбомов. Приложение должно позволять:</p>


	<p>создавать записи</p>
	<p>создавать альбомы</p>
	<p>добавлять записи в альбом</p>
	<p>удалять записи из альбома</p>
	<p>удалять альбомы со всеми аудиозаписями</p>
	<p>производить поиск аудиозаписи по: её имени, по её автору, по имени альбома</p>
	<p>производить поиск альбома по: имени, автору, имени аудиозаписи ***</p>

<p>- а также форму регистрации</p>
<p>(от себя уже добавил немного валидации при создании Альбомов и Треков)
а именно:</p>
<p>- названия альбомов не могут повторяться</p>
<p>- нельзя оставлять поля без названий!</p>
<p>- то же самое с треками </p>
<p>Соединение должно быть защищенным (использование SSL, протокол https)</p>
<p>При авторизации не хранить пароли, только их зашифрованные версии</p>