<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<a href="http://vk.com/neon_ua" target="_blink">vk.com/neon_ua</a>
<div class="field">
<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %></div>