<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<div>
	 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<br>
<a href="http://vk.com/neon_ua" target="_blank">for comunicating with me "vk.com"</a>