<% provide(:title, 'list of tracks') %>
<h1>Listing tracks</h1>

<br>

<div id="search">
  <%= form_tag(Track, :method => "get") do %>
      <div>
        <%= text_field_tag :search, params[:search], placeholder: "Search by tracks" %> <!-- search_field(:user, :name) -->
        <button type="submit">Search by track</button>
      </div>
  <% end %>
  </div>

 <br>
  <%= render "track" %>
 <br>

<%= link_to 'New Track', new_track_path %> <br>