<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Music_app", '#', id: "logo" %>
      <nav>
		<ul class="nav pull-right">
			<li><%= link_to "Home", root_path %></li>  
      <li><%= link_to "Help", help_path %></li>
			<li><a href="/albums">to Album</a></li>
			<li><a href="/tracks">to Track</a></li>
		</ul>
	    </nav>
    </div>
  </div>
</header>